[Desktop Entry]
Type=Application
Name=Swordfish
Comment=Access and organize files
Comment[it]=Accede ed organizza i file
Exec=swordfish %U
TryExec=swordfish
Icon=system-file-manager
Terminal=false
StartupNotify=false
OnlyShowIn=Hawaii;
Categories=Qt;Hawaii;Utility;Core;
MimeType=inode/directory;application/x-hawaii-saved-search;
Actions=Window;

[Desktop Action Window]
Name=Open a New Window
Name[it]=Apri una nuova finestra
Exec=swordfish
OnlyShowIn=Hawaii;
